.catalog {
  padding-top: 75px;
}

.catalog__head {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.catalog__title {
  margin-right: 32px;
}

.tabs {
  display: flex;
  margin-top: 5px;
}

.tabs__item:not(:last-child) {
  margin-right: 30px;
}

.tabs__btn {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: center center;
}

.tabs__btn:hover,
.tabs__btn:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.tabs__btn:active {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.tabs__btn-active {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.france-btn {
  background-image: url(../img/flag_France.png);
}

.germany-btn {
  background-image: url(../img/flag_Germany.png);
}

.italy-btn {
  background-image: url(../img/flag_Italy.png);
}

.russia-btn {
  background-image: url(../img/flag_Russia.png);
}

.belgium-btn {
  background-image: url(../img/flag_Belgium.png);
}

.country-info {
  margin-bottom: 40px;
  max-width: 69%;
  line-height: 200%;
}

.tabs-content {
  display: none;
}

.tabs-content-active {
  display: block;
}

.tabs-content__container {
  display: flex;
}

.painter {
  max-width: 49%;
  display: none;
}

.painter-content-active {
  display: block;
}

.accordion__painter-link--active {
  font-weight: 600;
  color: var(--hover-color);
}

.painter__photo {
  margin-bottom: 26px;
}

.painter__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter__years-life {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.painter__info {
  line-height: 200%;
  max-width: 95%;
}

.accordion {
  max-width: 50%;
  width: 100%;
  margin-left: auto;
}

.accordion__item {
  border-top: 1px solid #cacaca;
}

.accordion__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.accordion__btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 113px;
  text-align: left;
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
  margin-top: -1px;
}

.accordion__btn:hover {
  border-bottom: 1px solid #D1A9F0;
  border-top: 1px solid #D1A9F0;
}

.accordion__btn:hover .accordion__arrow-btn {
  background-color: #D1A9F0;
}

.accordion__btn:focus .accordion__title{
  background: var(--outline-color);
  color: var(--white-color)
}

.accordion__btn:active {
  border-bottom: 1px solid var(--hover-color);
  border-top: 1px solid var(--hover-color);
}

.accordion__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid 1px var(--black-color);
  border-bottom: solid 1px var(--black-color);
  width: 12px;
  height: 12px;
}

.accordion__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  transition: color .3s ease-in-out;
}

.accordion__title:hover {
  color:var(--hover-color);
}

.accordion__btn:active .accordion__title {
  color:var(--outline-color);
  background: var(--white-color);
}

.accordion__arrow-btn {
  position: relative;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: 4px;
  border: 2px solid #ececec;
  border-radius: 50%;
  background-color: #ececec;
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.accordion__arrow-btn:hover {
  border: 2px solid var(--hover-color);
  background-color: var(--hover-color);
}

.accordion__arrow-btn:active {
  border: 2px solid #D1A9F0;;
  background-color: var(--outline-color);
}

.accordion__arrow-btn::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 18px;
  border-left: solid 1px var(--black-color);
  border-top: solid 1px var(--black-color);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out, border-left .3s ease-in-out, border-top .3s ease-in-out;
}

.accordion__arrow-btn:hover::after {
  border-left: solid 1px var(--white-color);
  border-top: solid 1px var(--white-color);
}

.accordion__btn.ui-accordion-header-active {

  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

.accordion__btn.ui-accordion-header-active .accordion__arrow-btn {
  border: 2px solid var(--hover-color);
  background-color: #D1A9F0;
}

.accordion__btn.ui-accordion-header-active .accordion__arrow-btn::after {
  top: 15px;
  transform: rotate(-135deg);
}

.accordion__painter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 352px;
  padding-top: 27px;
  padding-bottom: 25px;
}

.accordion__painter-link {
  line-height: 200%;
  transition: color .3s ease-in-out;
}

.accordion__painter-link:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.accordion__painter-link:focus {
  background: var(--outline-color);
  color: var(--white-color);
}

.accordion__painter-link:active {
  background: var(--white-color);
  color: var(--outline-color);
}


@media (max-width: 1366px) {
  .country-info {
    max-width: 100%;
  }

  .accordion {
    max-width: 48%;
  }

  .accordion__painter-list {
    max-height: 440px;
    }
  }

  @media (max-width: 1024px) {
    .catalog__head {
      align-items: flex-start;
      margin-bottom: 3px;
  }
    .catalog__title {
      margin-right: 30px;
      margin-top: 12px;
    }

    .tabs {
      margin-top: 16px;
    }

    .painter {
      max-width: 47%;
    }

    .painter__info {
      max-width: 100%;
    }

    .accordion {
      max-width: 47%;
    }
  }

  @media (max-width: 970px) {
    .tabs-content__container {
      flex-direction: column;
    }

    .accordion {
      margin-left: 0;
      max-width: 100%;
      order: 1;
    }

    .painter {
      max-width: 100%;
      order: 2;
    }

    .tabs {
      margin-top: 9px;
    }

    .tabs__item:not(:last-child) {
      margin-right: 34px;
    }

    .catalog__head {
      margin-bottom: 12px;
    }

    .country-info {
      margin-bottom: 19px;
    }

    .accordion__painter-list {
      max-height: 343px;
    }

    .painter__photo {
      margin-bottom: 29px;
      margin-top: 51px;
    }
  }

  @media (max-width: 767px) {
    .catalog {
      padding-top: 40px;
    }

    .catalog__head {
      flex-wrap: wrap;
    }

    .accordion__painter-list {
      max-height: 840px;
    }

    .tabs {
      margin-top: 11px;
    }

    .tabs__btn {
      width: 32px;
      height: 32px;
      background-size: 30px;
      padding: 20px;
    }

    .tabs__item:not(:last-child) {
      margin-right: 22px;
    }

    .country-info {
      display: none;
    }

    .accordion {
      margin-bottom: 49px;
    }

    .accordion__btn {
      height: 73px;
    }

    .accordion__painter-list {
      padding-top: 18px;
      padding-bottom: 21px;

    }

    .accordion__title {
      font-size: 18px;
    }

    .accordion__arrow-btn {
      width: 30px;
      height: 30px;
      margin-right: 0;
    }

    .accordion__arrow-btn::after {
      top: 10px;
      left: 10px;
      width: 7px;
      height: 7px;
    }

    .accordion__arrow-btn--active::after {
      top: 10px;
    }

    .painter {
      padding-left: 0px;
    }

    .painter__photo {
      margin-top: 0;
      margin-bottom: 13px;
    }

    .painter__name {
      margin-bottom: 13px;
    }
    .painter__info {
      max-width: 99%;
    }
  }
