.contacts {
  position  : relative;
  margin-top: 80px
}

.contacts-container {
  display   : flex;
  margin-top: 16px
}

.contacts-form__tooltip {
  display: inline-block;
}

.contacts-address {
  position: absolute
}

.contacts-form {
  width  : 36%;
  padding: 203px 0 113px 149px;
  border : 1px solid var(--lightlightgray)
}

.contact-header {
  margin-left: 155px
}

.contacts-map {
  width: 65.7%
}

[class*="ground-pane"] {
  filter: grayscale(1)
}

.contacts-address {
  top : 204px;
  left: 160px
}

.contacts-address__address {
  font-style : normal;
  padding-top: 3px
}

.contacts-form-header {
  font-weight: 400;
  padding    : 15px 0 0 10px;
}

.contacts-form__name,
.contacts-form__tel {
  margin-top   : 16px;
  margin-left  : 10px;
  padding-left : 24px;
  width        : 400px;
  height       : 40px;
  border-radius: 100px;
  color        : var(--gray60);
  border       : 1px solid var(--gray20);
  outline      : transparent
}

.contacts-form__tel {
  margin-top: 24px
}

.contacts-form__name::placeholder,
.contacts-form__tel::placeholder {
  color: var(--gray60)
}

.contacts-form-btn {
  display         : block;
  margin-top      : 20px;
  margin-left     : 9px;
  min-width       : 157px;
  min-height      : 59px;
  padding         : 1px;
  border-radius   : 100px;
  font-weight     : bold;
  font-size       : 18px;
  line-height     : 25px;
  background-color: transparent;
  border          : 2px solid var(--moderateviolet);
  color           : var(--moderateviolet);
  cursor          : pointer;
}

.contacts-form-btn__text {
  outline: 2px solid transparent;
}

.contacts-feedback-header {
  font-weight: 400;
  padding    : 39px 0 0 8px
}

.contacts-feedback {
  display    : flex;
  margin-top : 6px;
  margin-left: 10px
}

.contacts-feedback__telegram,
.contacts-feedback__whatsapp {
  margin-top: 7px;
  outline   : none;
  transition: 0.3s linear;
  cursor    : pointer
}

.contacts-feedback__telegram {
  margin-left: 21px;
}

@media (hover:hover) and (pointer:fine) {
  .contacts-form-btn:hover {
    background-color: var(--moderateviolet);
    color           : var(--white);
    border          : 2px solid var(--moderateviolet);
    transition      : 0.5s ease-in-out;
  }

  .telegram:hover {
    transition: 1s linear;
    transform : translate(-10%) scale(0.75);
  }

  .whatsapp:hover {
    transition: 1s linear;
    transform : translate(-10%) scale(0.75);
  }
}

.contacts-form-btn:focus {
  outline   : transparent;
  transition: 0.5s ease-in-out;
}

.contacts-form-btn:focus .contacts-form-btn__text {
  outline   : 2px solid var(--moderateviolet);
  transition: 0.5s ease-in-out;
}

.contacts-feedback__telegram:focus .telegram-b {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

.contacts-feedback__whatsapp:focus .whatsapp-g {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

@media(max-width:1875px) {
  .contacts-header {
    padding-left: 46px
  }

  .contacts {
    margin-top: 79px
  }

  .contact-header {
    margin-left: 45px
  }

  .contacts-container {
    margin-top: 16px
  }

  .contacts-map {
    width: 51%
  }

  .contacts-form {
    width  : 47.7%;
    padding: 204px 0 115px 40px;
  }

  .contacts-form__name,
  .contacts-form__tel {
    padding-left: 20px;
    width       : 335px
  }

  .contacts-address {
    left: 50px
  }

  .contacts-form__tel {
    margin-top: 23px
  }

  .contacts-form-btn {
    margin-top: 22px
  }
}

@media(max-width:1200px) {
  .contacts-form-header {
    padding: 14px 0 0 10px;
  }

  .contacts-form-btn:active {
    font-size : 20px;
    color     : var(--white);
    transition: 0.5s ease-in-out;
  }

  .contacts-feedback__whatsapp:active .whatsapp {
    transition: 1s linear;
    filter    : blur(2px)
  }

  .contacts-feedback__telegram:active .telegram {
    transition: 1s linear;
    filter    : blur(2px)
  }
}

@media(max-width:815px) {
  .contacts {
    margin-top: 81px;
  }

  .contacts-form-header {
    padding: 16px 0 0 10px;
  }

  .contacts-map {
    width: 44%
  }

  .contacts-form {
    width  : 56%;
    padding: 203px 0 114px 40px;
  }

  .contacts-container {
    margin-top: 15px;
  }

  .contacts-address {
    top: 206px
  }
}

@media(max-width:695px) {
  .contacts {
    display       : flex;
    flex-direction: column
  }

  .contacts-container {
    flex-direction: column;
    margin        : 0
  }

  .contacts-form {
    width  : 100%;
    padding: 1px 0 24px 40px;
    border : none;
    order  : 1
  }

  .contacts-address {
    position: static;
    padding : 20px 10px 20px 49px
  }

  .contacts-map {
    width: 100%
  }
}

@media(max-width:400px) {
  .contact-header {
    font-weight: normal;
    font-size  : 28px;
    line-height: 38px;
    margin-left: 13px
  }

  .contacts-address__name {
    font-size  : 18px;
    line-height: 25px
  }

  .contacts-address__address {
    font-size  : 14px;
    line-height: 10px
  }

  .contacts-form-header {
    font-weight: normal;
    font-size  : 18px;
    line-height: 32px;
    padding    : 14px 0 0 9px
  }

  .contacts {
    margin-top: 53px
  }

  .contacts-form-btn {
    margin-top: 21px;
  }

  .contacts-form__name,
  .contacts-form__tel {
    margin-top: 18px;
    width     : 290px
  }

  .contacts-address {
    padding: 12px 10px 20px 13px
  }

  .contacts-map {
    height: 320px
  }

  .contacts-form {
    width  : 100%;
    padding: 6px 0 31px 5px;
  }

  .contacts-form__tel {
    margin-top: 20px
  }

  .contacts-form-btn {
    min-width  : 128px;
    min-height : 40px;
    font-size  : 12px;
    line-height: 16px
  }

  .contacts-feedback-header {
    font-size  : 18px;
    line-height: 32px;
    padding    : 18px 0 0 8px
  }

  .contacts-feedback {
    margin-top: 0px
  }
}