.events-title {
  margin-top  : 61px;
  padding-left: 104px
}

.event-pagination {
  display: none
}

.events-wrapper {
  margin-top : 14px;
  margin-left: 105px;
  display    : flex;
  flex-wrap  : wrap
}

.events-slide {
  position      : relative;
  min-height    : 700px;
  display       : flex;
  flex-direction: column;
  flex          : 0 0 29.3%;
  margin-right  : 50px;
  border        : 1px solid var(--lightgray);
  outline       : transparent;
  flex-wrap     : wrap
}

.events-slide-hidden {
  margin-top: 50px;
  display   : none
}

.events-slide--active {
  display: flex
}

.events-slide__small-text {
  margin-right: 16px;
  margin-top  : 4px;
  font-weight : 600;
  text-align  : right;
}

.events-slide__big-text {
  padding: 6px 30px 2px 50px
}

.events-slide__medium-text {
  padding: 2px 50px 83px 50px
}

.medium-text-one::after {
  content: 'художественной мастерской,где юный Микеланджело.'
}

.medium-text-two::after {
  content: 'количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых принципов формирования...'
}

.medium-text-three::after {
  content: 'планирование играет определяющее значение для новых принципов формирования материально-технической и кадровой базы..'
}

.medium-text-four::after {
  content: 'что иное,как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых...'
}

.medium-text-five::after {
  content: 'Ридольфо. Глава художественной мастерской,где юный Микеланджело.'
}

.medium-text-six::after {
  content: 'официальным амбассадором этого культурного направления.В творчестве предпочитает не гнаться за трендами,а ...'
}

.events-slide__link {
  position     : absolute;
  bottom       : 42px;
  margin-left  : 50px;
  line-height  : 23px;
  border-bottom: 1px solid var(--moderateviolet);
  transition   : all 0.5s linear;
  color        : var(--moderateviolet)
}

.events-btn {
  display         : block;
  margin          : auto;
  margin-top      : 50px;
  border          : none;
  outline         : none;
  min-width       : 188px;
  padding         : 1px;
  min-height      : 59px;
  font-weight     : bold;
  font-size       : 18px;
  line-height     : 25px;
  text-align      : center;
  border-radius   : 100px;
  background-color: transparent;
  border          : 2px solid var(--moderateviolet);
  color           : var(--moderateviolet);
  transition      : 0.5s ease-in-out;
  cursor          : pointer
}

.events-btn--active {
  display: none
}

@media (hover:hover) and (pointer:fine) {
  .events-slide__link:hover {
    font-weight: 700;
    transition : all 0.3s linear;
  }

  .events-btn:hover {
    background-color: var(--moderateviolet);
    color           : var(--white);
    border          : 2px solid var(--moderateviolet);
    transition      : 0.5s ease-in-out;
  }
}

.events-slide__link:focus {
  outline: 2px solid var(--darkmoderateviolet)
}

.events-btn:focus {
  background-color: var(--moderateviolet);
  color           : var(--white);
  font-size       : 20px;
  transition      : 0.7s ease-in-out;
}

@media(max-width:1455px) {

  .events-slide__link:active {
    font-weight     : 700;
    color           : var(--darkmoderateviolet);
    background-color: transparent;
  }

  .events-btn:active {
    background-color: var(--moderateviolet);
    color           : var(--white);
    transition      : 0.5s ease-in-out;
  }


  .events-slide {
    min-height: 683px
  }

  .events-title {
    margin-top  : 60px;
    padding-left: 37px
  }

  .medium-text-one::after {
    content: '...'
  }

  .medium-text-two::after {
    content: '...'
  }

  .medium-text-three::after {
    content: '...'
  }

  .medium-text-four::after {
    content: '...'
  }

  .medium-text-five::after {
    content: '...'
  }

  .medium-text-six::after {
    content: '...'
  }

  .events-wrapper {
    margin-left: 41px;
    margin-top : 16px
  }

  .events-slide {
    margin-right: 27px;
    flex        : 0 0 30%
  }

  .events-slide-hidden {
    margin-top: 27px;
  }

  .events-slide__small-text {
    margin-right: 16px;
    margin-top  : 4px
  }

  .events-slide__big-text {
    padding: 6px 24px 0 34px
  }

  .events-slide__medium-text {
    padding: 4px 30px 90px 35px
  }

  .events-slide__link {
    bottom     : 52px;
    margin-left: 34px
  }
}

@media(max-width:920px) {
  .events-slide {
    border: 1px solid transparent;

  }

  .events-slide {
    margin-right: 34px;
    flex        : 0 0 39%
  }

  .events-slide-hidden {
    margin-top: 34px;
  }

  .events-slide__medium-text {
    padding: 3px 30px 90px 33px
  }

  .events-slide-three {
    order: 1
  }

  .events-title {
    margin-top  : 49px;
    padding-left: 37px
  }

  .events-slide__small-text {
    margin-right: 18px;
    margin-top  : 4px
  }

  .events-slide__link {
    bottom     : 47px;
    margin-left: 35px
  }
}

@media(max-width:768px) {
  .events-slide {
    border: 1px solid var(--lightgray);
    flex  : 0 0 44.8%;
  }

  .events-btn {
    margin-top: 51px
  }

  .events-slide__medium-text {
    padding: 2px 30px 90px 33px
  }

  .events-slide__big-text {
    padding: 6px 24px 2px 33px
  }

  .medium-text-one::after {
    content: ' художественной мастерской...'
  }

  .events-slide__small-text {
    margin-right: 17px;
    margin-top  : 5px
  }

  .events-slide__link {
    bottom     : 48px;
    margin-left: 34px
  }
}

@media(max-width:715px) {
  .events-slide {
    margin-right: 15px
  }

  .events-slide-hidden {
    margin-top: 15px;
  }
}

@media (max-width:550px) {
  .event-pagination {
    display: block
  }

  .events-slide {
    border: 1px solid transparent
  }

  .events-container {
    overflow: hidden;
    width   : 100%
  }

  .events-container .events-wrapper {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap
  }

  .events-btn {
    display: none
  }

  .events-slide {
    display    : flex;
    flex       : 0 0 100%;
    margin     : 0;
    flex-shrink: 0
  }

  .events-slide-hidden {
    margin: 0;
  }

  .events-container .events-wrapper {
    margin-left    : 0;
    justify-content: initial;
    flex-wrap      : nowrap
  }

  .event-pagination {
    position  : relative;
    margin-top: 7px
  }

  .swiper-pagination-bullet {
    position        : static;
    margin-right    : 17px;
    width           : 10px;
    height          : 10px;
    border-radius   : 100%;
    background-color: var(--verydarkgray)
  }
}

@media (max-width:320px) {
  .events-slide {
    flex: 0 0 97%
  }

  .events-title {
    font-size   : 28px;
    line-height : 38px;
    margin-top  : 36px;
    padding-left: 2px
  }

  .events-slide__small-text {
    margin-right: 10px;
    margin-top  : 6px
  }

  .events-slide__big-text {
    padding: 4px 12px 2px 27px
  }

  .events-slide__medium-text {
    padding: 35px 25px 74px 28px
  }

  .medium-text-one::after {
    content: '...'
  }

  .events-slide__link {
    bottom     : 51px;
    margin-left: 28px;
    line-height: 26px
  }

  .events-wrapper {
    margin-top: 12px
  }

  .events-slide {
    margin-left: 5px
  }

  .events-slide {
    border: 1px solid var(--lightgray)
  }
}