.footer {
  background-color: var(--black);
  padding         : 48px 84px 50px 106px
}

.footer-wrapper {
  display        : flex;
  justify-content: space-between
}

.footer-logo-img {
  outline   : transparent;
  margin-top: 4px;
}

.footer-social {
  display: flex
}

.footer-social__item-link {
  margin-right: 20px;
  outline     : none;
  transition  : 1s linear;
  cursor      : pointer;
}

@media (hover:hover) and (pointer:fine) {
  .footer-social__item-link:hover .vk {
    transition: 1s linear;
    transform : translate(-10%) scale(0.75);
  }

  .footer-social__item-link:hover .instagram {
    transition: 1s linear;
    transform : translate(-10%) scale(0.75);
  }

  .footer-social__item-link:hover .fb {
    transition: 1s linear;
    transform : translate(-10%) scale(0.75);
  }
}

.footer-social__item-link:focus .vk-w {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

.footer-social__item-link:focus .instagram-1 {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

.footer-social__item-link:focus .instagram-2 {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

.footer-social__item-link:focus .instagram-3 {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

.footer-social__item-link:focus .fb-w {
  transition: 0.1s linear;
  fill      : var(--darkmoderateviolet);
}

@media(max-width:1024px) {
  .footer-social__item-link:active .instagram {
    transition: 1s linear;
    filter    : blur(2px)
  }

  .footer-social__item-link:active .fb {
    transition: 1s linear;
    filter    : blur(2px)
  }

  .footer-social__item-link:active .vk {
    transition: 1s linear;
    filter    : blur(2px)
  }

  .footer {
    padding: 44px 19px 50px 41px;
  }

  .footer-social__item-link {
    margin-right: 19px;
  }

  .footer-social {
    margin-top: 3px;
  }
}

@media(max-width:768px) {
  .footer {
    padding: 45px 19px 50px 41px;
  }
}

@media(max-width:580px) {
  .footer-social__item-link {
    margin-right: 0px;
    margin-left : 13px
  }

  .vk,
  .instagram,
  .fb {
    width : 35px;
    height: 35px;
  }
}

@media(max-width:480px) {
  .footer {
    padding: 7px 5px 13px 5px
  }

  .footer-logo-img {
    width : 97px;
    height: 22px
  }
}

@media(max-width:320px) {

  .vk,
  .instagram,
  .fb {
    width : 25px;
    height: 25px;
  }

}