.gallery {
  background-image: url(../img/gallery-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 86px 0 83px;
}

.gallery__link {
  color: #C283F3;
}

.gallery__content {
  display: flex;
}

.gallery__filter {
  width: 25%;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
}

.gallery__title {
  margin-bottom: 28px;
  color: var(--white-color);
}

.gallery__subtitle {
  margin-bottom: 16px;
  color: var(--white-color);
}

.gallery__select {
  width: 100%;
}

.gallery__descr {
  margin-top: auto;
  margin-bottom: -15px;
  line-height: 32px;
  max-width: 85%;
  color: var(--white-color);
}

.choices__list {
  color: var(--white-color);
}

.choices__item {
  font-size: 16px;
  font-weight: 400;
}

.choices__inner,
.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__inner:hover,
.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices:focus {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list {
  z-index: 111;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.choices__inner {
  border-radius: 6px;
  min-height: 40px;
  padding-top: 4px;
  padding-left: 12px;
}

.is-focused .choices__inner {
  border-radius: 6px;
  overflow: hidden;
}

.is-open .choices__list--dropdown {
  border-radius: 6px;
}

.choices[data-type*=select-one]:after{
  content: '';
  height: 7px;
  width: 7px;
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
  position: absolute;
  right: 14.7px;
  top: 49%;
  z-index: 25;
  transform: rotate(223deg);
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after{
  top: 45%;
  margin-top: 0;
  transform: rotate(45deg);
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
}

/* .choices:active, .choices:focus{
  border: 2px solid var(--outline-color);
  border-radius: 6px;
} */

.choices__item--choice,
.choices__inner  {
  transition: outline .3s ease-in-out, border-color .3s ease-in-out;
}

.choices__item--choice:hover {
  outline: var(--hover-color);
}

.choices__inner:focus {
  border-color: var(--outline-color);
}

.choices__list--dropdown .choices__item--selectable.is-selected{
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: transparent;
}

.gallery__swiper-container {
  width: 72%;
  height: 825px;
  flex-shrink: 1;
}

.gallery__swiper-wrapper {
  z-index: 100;
}

.gallery__swiper-slide {
  max-width: 350px;
  max-height: 350px;
  border: 2px solid transparent;
  position: relative;
}

.gallery__swiper-button {
  border: 2px solid transparent;
}

.gallery__swiper-button::before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__swiper-button::after {
  content: '';
  display: block;
  display: none;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
}

.gallery__swiper-button:focus {
  border: 2px solid var(--outline-color);
  outline: none;
}

.gallery__swiper-button:hover::after {
  display: block;
}

.gallery__swiper-button:active::before {
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #666666;
  display: inline-block;
  z-index: 100;
  border: 2px solid #666666;
  transition: all .3s ease-in-out;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background: var(--outline-color);
  border: 2px solid #D1A9F0;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
  border: 2px solid var(--black-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  top: 8px;
  display: block;
  color: var(--white-color);
  font-size: 10px;
}

.swiper-button-next::after{
  left: 10px;
}

.swiper-button-prev::after {
  left: 10px;
}

.swiper-pagination {
  color: var(--white-color);
}

.gallery__swiper-navagation{
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 30px;
  margin-left: 6px;
}

.gallery__swiper-pagination{
  width: auto;
  text-align: center;
  color: white;
}

@media (max-width: 1366px) {
  .gallery__swiper-button::before {
    height: 81%;
  }

  .gallery__swiper-button::after {
    height: 69%;
    top: 40%;
  }
}


@media (max-width: 1024px) {
  .gallery__filter {
    width: 47%;
    margin-right: 43px;
  }

  .gallery__swiper-container {
    max-width: 100%;
    width: 100%;
    height: 668px;
  }

  .gallery__swiper-navagation {
    margin-bottom: 31px;
    margin-left: 6px;
  }

  .gallery__swiper-slide {
    max-width: 284px;
    max-height: 281px;
  }

  .gallery__descr {
    line-height: 32px;
    max-width: 93%;
    margin-bottom: -18px;
  }

  .gallery__swiper-button:hover::after {
    display: none;
  }

  .gallery__swiper-button:active::before {
    display: none;
  }
}


@media (max-width: 970px) {
  .gallery {
    position: relative;
    padding-bottom: 70px;
    padding-top: 87px;
  }

  .gallery__content {
    flex-direction: column;
  }
  .gallery__filter {
    width: 42%;
    margin-right: 0;
  }

  .gallery__swiper-navagation {
    margin-left: 0px;
  }

  .gallery__swiper-container {
    max-width: 100%;
    height: 725px;
    margin-bottom: 43px;
  }


  .gallery__descr {
    position: absolute;
    bottom: 86px;
    left: 50px;
    right: 50px;
    margin-left: 0;
  }

  .gallery__swiper-slide {
    max-width: 317px;
    max-height: 281px;
  }

  .gallery__slide-img {
    width: 317px;
    height: 280px;
    object-fit: cover;
  }
}


@media (max-width: 667px) {
  .gallery {
    padding-top: 55px;
    padding-bottom: 130px;
  }

  .gallery__title {
    margin-bottom: 21px;
  }

  .gallery__subtitle {
    margin-bottom: 12px;
  }

  .gallery__filter {
    margin-bottom: 10px;
    width: 100%;
    padding-left: 0;
  }

  .gallery__swiper-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 470px;
  }

  .gallery__swiper-slide {
    max-width: 100%;
    max-height: 367px;
    text-align: center;
  }

  .gallery__slide-img {
    width: 290px;
    height: 367px;
    object-fit: cover;
  }

  .gallery__swiper-wrapper  {
    order: 1;
  }

  .gallery__swiper-navagation {
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }

  .swiper-pagination {
    top: auto;
    left: 45%;
  }

  .gallery__descr {
    left: 16px;
    right: 21px;
    bottom: 59px;
  }

  .gallery__swiper-navagation {
    margin-bottom: 54px;
  }
}
