@keyframes heroAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.hero {
  position: relative;
}

.hero__fade-container {
  position: absolute;
  top: -140px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 700px;
  z-index: -1;
  overflow: hidden;
}

.hero__fade-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  animation: heroAnimation 39s linear infinite 0s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

.hero__fade-slide:nth-child(1) {
  background-image: url(../img/slider-promo_1.webp);
}

.hero__fade-slide:nth-child(2) {
  background-image: url(../img/slider-promo_2.webp);
  animation-delay: 6s;
}

.hero__fade-slide:nth-child(3)  {
  background-image: url(../img/slider-promo_3.webp);
  animation-delay: 12s;
}

.hero__fade-slide:nth-child(4) {
  background-image: url(../img/slider-promo_1.webp);
  animation-delay: 18s;
}

.hero__fade-slide:nth-child(5) {
  background-image: url(../img/slider-promo_2.webp);
  animation-delay: 24s;
}

.hero__fade-slide:nth-child(6)  {
  background-image: url(../img/slider-promo_3.webp);
  animation-delay: 30s;
}

.hero__container {
  margin-top: 70px;
}

.hero__text {
  max-width: 35%;
}

.hero__text-title{
  font-weight: 700;
  font-size: 72px;
  color: var(--white-color);
  margin-bottom: 21px;
}

.hero__text-subtitle {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__button {
  padding: 20px 32px;
  margin-left: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background-color: var(--hover-color);
  border: 3px solid transparent;
  border-radius: 100px;
  -webkit-transition: border .3s ease-in-out, background-color .3s ease-in-out;
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__button:hover {
  border: 3px solid #D1A9F0;
}

.hero__button:focus {
  /* border: 3px solid var(--outline-color); */
  outline: none;
}

.hero__button:active {
  background-color: var(--outline-color);
  border: 3px solid #D1A9F0;
}

@media (max-width: 1200px) {
  .hero__container {
    margin-top: 112px;
  }

  .hero__fade-container {
    max-height: 768px;
  }

  .hero__text {
    max-width: 72%;
  }

  .hero__text-title {
    margin-bottom: 15px;
  }

  .hero__text-subtitle {
    margin-bottom: 132px;
  }
}

@media (max-width: 970px) {
  .hero__text {
    max-width: 100%;
  }

  .hero__text-subtitle {
    margin-left: 5px;
  }
}

@media (max-width: 667px) {
  .hero__text {
    text-align: center;
  }

  .hero__text-title {
    font-size: 32px;
  }

  .hero__text-subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .hero__fade-container {
    max-height: 415px;
  }

  .hero__container {
    margin-top: 34px;
  }

  .hero__text-subtitle {
    margin-bottom: 40px;
  }

  .hero__button {
    margin-left: 0;
    padding: 9px 16px;
    font-size: 12px;
    line-height: 16px;
    }
}
