@font-face {
  font-family: 'opensans';
  font-style : normal;
  font-weight: 300;
  src        : url(../fonds/OpenSans-Light.woff);
  src        : url(../fonds/OpenSans-Light.woff2)
}

@font-face {
  font-family: 'opensans';
  font-style : normal;
  font-weight: 400;
  src        : url(../fonds/OpenSans-Regular.woff);
  src        : url(../fonds/OpenSans-Regular.woff2)
}

@font-face {
  font-family: 'opensans';
  font-style : normal;
  font-weight: 600;
  src        : url(../fonds/OpenSans-SemiBold.woff);
  src        : url(../fonds/OpenSans-SemiBold.woff2)
}

@font-face {
  font-family: 'opensans';
  font-style : normal;
  font-weight: 700;
  src        : url(../fonds/OpenSans-Bold.woff);
  src        : url(../fonds/OpenSans-Bold.woff2)
}

@font-face {
  font-family: 'opensans';
  font-style : italic;
  src        : url(../fonds/OpenSans-Italic.woff);
  src        : url(../fonds/OpenSans-Italic.woff2)
}



body {
  min-width  : 320px;
  font-size  : 16px;
  font-weight: 400;
  line-height: 32px;
  color      : var(--gray20);
  font-family: 'opensans', 'sans-serif'
}

* {
  box-sizing: border-box
}

a {
  text-decoration: none;
  color          : var(--gray20)
}

ul {
  margin    : 0;
  padding   : 0;
  list-style: none
}

h1,
h2,
h3,
h4 {
  margin: 0
}

h1 {
  position: absolute;
  width   : 1px;
  height  : 1px;
  margin  : -1px;
  padding : 0;
  overflow: hidden;
  border  : 0;
  clip    : rect(0 0 0 0)
}

p {
  margin: 0
}

img {
  max-width: 100%
}

.container {
  max-width    : 1920px;
  width        : 100%;
  margin       : 0 auto;
  padding-left : 55px;
  padding-right: 55px
}

.title {
  font-weight: normal;
  font-size  : 48px;
  line-height: 65px;
  color      : var(--gray20)
}

.text {
  font-weight: 600;
  font-size  : 24px;
  line-height: 32px;
  color      : var(--gray20)
}

.text-mini {
  font-weight: 400;
  font-size  : 12px;
  line-height: 16px;
  color      : var(--gray60)
}

::-webkit-input-placeholder {
  color: var(--white)
}

:-ms-input-placeholder {
  color: var(--white)
}

::-moz-placeholder {
  color: var(--white)
}

:-moz-placeholder {
  color: var(--white)
}

input[type=text]::-ms-clear {
  display: none;
  width  : 0;
  height : 0
}

input[type=text]::-ms-reveal {
  display: none;
  width  : 0;
  height : 0
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:hover::-webkit-input-placeholder {
  color: transparent
}

:focus::-moz-placeholder {
  color: transparent
}

:focus:-moz-placeholder {
  color: transparent
}

:focus:-ms-input-placeholder {
  color: transparent
}

@media(max-width:1440px) {
  .container {
    padding-left : 10px;
    padding-right: 10px
  }
}